#Intellj
.idea/
*.xml
*.iml
out/
cmake-build-*/

#Lyx
*.lyx~
*.lyx#
*.lyx.emergency
lyx_tmpdir*/
lyx_tmpbuf*/

#Latex
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.pre
*.phg
*.pyg
*.bbl
*.blg
*.bcf
*.run.xml
*.lof
*.lot
*.idx
*.ind
*.ilg

#System
.DS_Store
Thumbs.db